@import 'variable';

html {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  min-height: 100%;
}

.body {
  min-height: 100%;
  font-size: 16px;
  font-family: sans-serif;
  background-color: $color-dark-gray;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  background-attachment: fixed;

  &__light {
    background-image: linear-gradient(to right bottom, #051937, #162454, #312d70, #533389, #7a359f);
  }
  &__dark {
    background-image: linear-gradient(to right bottom, #000, #160b11, #20141e, #281b2e, #2b2440);
  }
  &__middle {
    background-image: $theme-middle-bgImage;
  }
  &__default {
    background-image: $theme-default-bgImage;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

li {
  list-style: none;
}
