//COLORS

$color-white: #fff;
$color-black: #000;
$color-errors: #dcdb93;
$color-dark-gray: #10100e;
$color-blue: #6a83fb;
$color-violet: #ae72c2;

$border-radius-small: 3px;
$theme-default-header: #cccc46;
$theme-default-bgImage: url('../../static/bg.jpg');
$transition: 0.4s;
