.video {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 0 16px 24px 2px rgba(255, 255, 255, 0.02), 0 6px 30px 5px rgba(255, 255, 255, 0.04),
    0 8px 10px -5px rgba(255, 255, 255, 0.1);
}
